
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <h6 class="text-gradient text-primary font-weight-bolder">Soft UI Design System</h6>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">

        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">

        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Soft UI Design System by &copy; <a target="_blank" href="https://bit.ly/3fKQZaL" target="_blank">Creative Tim</a> 
              - Coded by <a target="_blank" href="https://github.com/oigod/newspaper-agency-project/tree/develop">OiGod</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
