{% extends 'base-template.html' %}

{% block title %} Author {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  {% include "includes/navigation.html" %}

  <section class="py-sm-7 py-5 position-relative">

    <div class="container">
          <h3>Newspapers of "{{ topic.name }}" topic :</h3>
      <a class="btn btn-secondary" href="{% url 'newspaper:newspaper-create' %}">Create Newspaper</a>
      <a class="btn btn-danger" href="{% url 'newspaper:topic-delete' pk=topic.id %}">Delete Topic</a>
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            {% if topic.newspapers.all %}
          {%  for newspaper in topic.newspapers.all %}
          <div class="col-lg-3 col-sm-6">
          <div class="card card-plain card-blog">
            <div class="card-image border-radius-lg position-relative">
              <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">
                <img class="w-100 border-radius-lg move-on-hover shadow" src="{{ newspaper.image.url}}">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-bold">{{ newspaper.title }}</a>
              </h5>
              <p>
                {{ newspaper.content|truncatechars:100}}
                <b></b>
                <h5>
                  Written by:
                  {% for redactor in newspaper.publishers.all %}
                    <a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}"> {{ redactor.username }}</a>
                  {% endfor %}
                </h5>
              </p>
              <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}" class="text-info icon-move-right">Read More
                <i class="fas fa-arrow-right text-sm"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
          <p>There are no newspapers.</p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
{% block footer %}
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
