{% extends 'base-template.html' %}
{% load crispy_forms_filters %}

{% block content %}
  {% include "includes/navigation.html" %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">{{ object|yesno:"Update,Create" }} Topic</div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-secondary" href="{% url 'newspaper:topic-list' %}">Go Back</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
